[![image](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ChangwhaOh/kmaps/blob/main/docs/examples/00_introduction.ipynb)

In [4]:
import kmaps
import ipyleaflet
import geopandas as gpd

Default setting of a class Map is:

`center = [37.5, 127]`

`zoom = 8`

In [2]:
m = kmaps.Map(center = [37, 127], zoom = 7)
m

Map(center=[37, 127], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_teâ€¦

In [3]:
m.add_shp('data/BuildingsCentroids_OSM_UTK.shp')

In [5]:
df = gpd.read_file('data/BuildingsCentroids_OSM_UTK.shp')

In [6]:
df[0:5]

,osm_id,name,type,building,other_tags,AREA_GEO,geometry
0,1637098,Neyland Stadium,multipolygon,yes,"""addr:city""=>""Knoxville"",""addr:housenumber""=>""...",32781.092686,POINT (-83.92569 35.95466)
1,12930066,Humanities and Social Sciences,multipolygon,university,NaN,2533.504774,POINT (-83.92902 35.95367)
2,15020855,McClung Tower,multipolygon,yes,"""layer""=>""1""",701.942535,POINT (-83.92897 35.95408)
3,NaN,University Printing & Mail,NaN,university,NaN,4935.101437,POINT (-83.92825 35.94675)
4,NaN,UT Warehouse,NaN,university,NaN,2203.751396,POINT (-83.92908 35.94662)

In [3]:
m.add_basemap('roadmap')

In [4]:
m.add_draw_control()

In [5]:
m.add_geojson('data/sample.geojson')

In [7]:
m.add_layers_control()

In [7]:
m.add_search_control()

In [3]:
m.add_vector('data/sample.geojson')

In [9]:
url = 'http://mt0.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}'
m.add_tile_layer(url = url, name = 'Google Satellite', attribution = 'Google')

In [10]:
dist = kmaps.euclidean_dist([0, 0], [1, 1])
dist

1.4142135623730951

In [8]:
kmaps.generate_random_string(2)

'bs'